* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 100px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -0.24px;
  
  background-color: #EBBEFF;
  background-image: url('../images/background-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.faq {
  width: 100%;
  margin: 0 25px;
  padding: 30px 24px 56px;

  display: grid;
  grid-template-columns: 56px auto;
  align-items: center;

  border-radius: 12px;
  background-color: #F9F4FA;

  &__heading {
    font-size: 3.2rem;
    font-weight: 700;
  }

  &__list {
    grid-column: span 2;
    list-style: none;
  }

  &__item {
    font-size: 1.7rem;

    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 28px;
    row-gap: 12px;
    align-items: center;

    padding-top: 10px;

    &:not(:last-of-type) {
      padding-bottom: 7px;
      border-bottom: 2px solid rgba(218, 218, 218, 0.97);
    }
  }

  &__btn {
    background: none;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &--hide {
      display: none;
    }
  }

  &__question {
    color: rgba(52, 22, 53, 0.83);


    &--active {
      color: #000000;
    }

  }

  &__answer {
    display: none;

    grid-column: span 2;

    color: rgba(75, 11, 103, 0.66);
    text-align: justify;

    &--active {
      display: block;
    }
  }
}

.footer {
  font-size: 1.3rem;
  text-align: center;
  background-color: inherit;
  
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  width: 100%;

  a {
    color: #3e52a3;
  }
}

@media (min-width: 768px) {
  
  body {
    background-image: url('../images/background-pattern-desktop.svg');
    background-size: auto;
  }

  .faq {
    margin: 0;
    max-width: 644px;
    padding: 90px 60px;

    grid-template-columns: 87px auto;

    &__star {
      width: 66px;
      height: 60px;
    }

    &__heading {
      font-size: 4.8rem;
    }

    &__list {
      padding-top: 64px;
    }

    &__item {

      row-gap: 24px;
      padding-top: 24px;

      &:not(:last-of-type) {
        padding-bottom: 24px;
      }
    }
  }
}

@media (min-width: 1024px) {

  body {
    background-size: 100%;
  }

  .faq {
    max-width: 992px;

    &__item {
      font-size: 2rem;
    }

  }
  
}